<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTTP Server</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
</head>
<body style = "width: 100%; background-color: #1e1e1e;">
  <h1 style = "color: white; display: flex; justify-content: center;">Hello World!</h1>
  <nav>
    <div class = "navBar" style = "display: flex; flex-wrap: nowrap; justify-content: center;">
    <a href = "/">
    <div class = "navBox" id = "nav1">
        Home</div></a>
  <div style = "height: 100px; width: 10px;"></div>

    <a href = "/about">
    <div class = "navBox" id = "nav2">
        About</div></a>
        <div style = "height: 100px; width: 10px;"></div>
    
    <a href = "/contact">
    <div class = "navBox" id = "nav3">
        Contact</div></a>
        <div style = "height: 100px; width: 10px;"></div>

    <a href = "/products">
    <div class = "navBox" id = "nav4">
          Products</div></a>
          <div style = "height: 100px; width: 10px;"></div>

    <a href = "./subscribe">
      <div class = "navBox" id = "nav5">
            Subscribe</div></a>
            <div style = "height: 100px; width: 10px;"></div>
    </div>
    </nav>
</body>
</html>