<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTTP Server</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
</head>
<body>
  <h1 style = "display: flex; justify-content: center;">Hello World!</h1>
  <nav>
    <div class = "navBar" style = "display: flex; flex-wrap: nowrap; justify-content: center;">
    <a href = "/">
    <div class = "navBox" id = "nav1">
        Home</div></a>
  <div style = "height: 100px; width: 10px;"></div>

    <a href = "/about">
    <div class = "navBox" id = "nav2">
        About</div></a>
        <div style = "height: 100px; width: 10px;"></div>
    
    <a href = "/contact">
    <div class = "navBox" id = "nav3">
        Contact</div></a>
        <div style = "height: 100px; width: 10px;"></div>

    <a href = "/products">
    <div class = "navBox" id = "nav4">
          Products</div></a>
          <div style = "height: 100px; width: 10px;"></div>

    <a href = "./subscribe">
      <div class = "navBox" id = "nav5">
            Subscribe</div></a>
            <div style = "height: 100px; width: 10px;"></div>
    </div>
    </nav>

    <!-- <center>
      <div id="openweathermap-widget-1"></div>
      <script src='//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js'></script><script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 1,cityid: '6324733',appid: '0b3ec26be7772b84ba1063d85631b09b',units: 'metric',containerid: 'openweathermap-widget-1',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>
      <br />
      <iframe width="700" height="1600" src="https://rss.app/embed/v1/imageboard/tsf0aCa6kLtpOVGg" frameborder="0" style = "border-radius: 10px;"></iframe>
  </center> -->
</body>
</html>