<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTTP Server</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
</head>
<body>
  <h1 style = "display: flex; justify-content: center;">Productsss</h1>
  <nav>
    <div class = "navBar" style = "display: flex; flex-wrap: nowrap; justify-content: center;">
    <a href = "/">
    <div class = "navBox" id = "nav1">
        Home</div></a>
  <div style = "height: 100px; width: 10px;"></div>

    <a href = "/about">
    <div class = "navBox" id = "nav2">
        About</div></a>
        <div style = "height: 100px; width: 10px;"></div>
    
    <a href = "/contact">
    <div class = "navBox" id = "nav3">
        Contact</div></a>
        <div style = "height: 100px; width: 10px;"></div>

    <a href = "/products">
    <div class = "navBox" id = "nav4">
          Products</div></a>
          <div style = "height: 100px; width: 10px;"></div>

    <a href = "./subscribe">
      <div class = "navBox" id = "nav5">
            Subscribe</div></a>
            <div style = "height: 100px; width: 10px;"></div>
    </div>
    </nav>
    <div class = "products" style="display: flex; justify-content: center; margin-left: auto; margin-right: auto; overflow: show; width: 1000px">
      <a href = "https://newfie-nook.netlify.app">Newfie Nook</a>
      <iframe style="margin-left: -100px; border:1px solid #000;" src="https://newfie-nook.netlify.app" width="1000" height="1000" scrolling="yes"></iframe>
    </div>

</body>
</html>